@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $light-gray-color;
    font-size: 1.6rem;
    color: $primary-text-color;
}

.container {
    max-width: 1141px;
    width: 100%;
    margin-inline: auto;
    padding-left: $space;
    padding-right: $space;
    margin-bottom: $space;

    @include mobile {
        padding-left: calc($space / 2);
        padding-right: calc($space / 2);
        margin-bottom: calc($space / 2);

    }

}