@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .card-image img {
    width: 100%;
    aspect-ratio: 16/9;
    max-height: 20rem;
    object-fit: cover;
  }

  .card-body {
    padding: 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;

    .card-title {
      font-size: $medium-heading;
      color: $black-color;
      text-transform: uppercase;
     
    }

    .card-category {
      font-size: $small-heading;
      color: $primary-text-color;  
      font-weight: normal;   
      margin-bottom: 2rem;
    }

    .card-desc {
      font-size: $small-text;
      margin-bottom: 1.5rem;
    }

    .card-price {
      margin-bottom: 1rem;
    }

    .card-footer{

      .btn {
      @include base-btn();
      width: fit-content;
    }}
  }
}