@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $space;

  @include mobile {
    grid-template-columns: 1fr;
  }
}
