@use "abstracts/variables" as *;

// Mixins
@mixin mobile {
  @media (max-width: $max-mobile) {
    @content;
  }
}

// Buttons
@mixin base-btn {
    cursor: pointer;
    font-size: $small-text;
    text-transform: uppercase;
      color: #5EA0E0;
      border: 2px solid #5EA0E0;
      border-radius: 5px;
      display: block;
      padding: 10px;
      font-weight: bold;
      text-decoration: none;
    transition: opacity 0.5 ease-in-out;
  
    &:active,
    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 0.8;
    }
}
